body {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  text-align: left; */
}

  .flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    height: 650px;
  }
  
  .flexbox-item-1 {
    order: 1;
    margin-bottom: 150px;
    padding-right: 20px;
  }
  
  .flexbox-item-2 {
    order: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .App-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
    color: black;
    text-decoration: none;
  }

  a {
    color: black;
    font-size: 20px;
  }

.mainfont1 {
  margin: 0px;
  font-size: 30px;
  
 
}
.mainfont {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
}

#mainphoto {
  border-radius: 70%;
}












@media only screen and (min-width: 768px) {
  .flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    height: 650px;
  }
  
  .flexbox-item-1 {
    order: 1;
    margin-bottom: 150px;
    padding-right: 20px;
  }
  
  .flexbox-item-2 {
    order: 2;
  }

  
}